html, body {
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
}

.content-area {
    padding: 40px 0;
}

.login-card {
    padding: 20px;
}

.posts {
    background-color: #e3e3e3;
    padding: 15px;
}

.post {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 40px;
}

.comments {
    padding: 20px 0;
}

.comment {
    background-color: #ededed;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}

footer {
    height: 50px;
    background-color: black;
    color: darkgrey;
    font-size: small;
    padding: 5px;
    margin-top: auto;
}