{% extends 'layout.html' %}

{% block title %} Updates {% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4"></div>

    <div class="col-md-8 posts">
        <div class="card post">
            <div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam amet cumque debitis ex facilis fugit
                harum impedit ipsam iure molestias necessitatibus nisi, nostrum odit pariatur placeat saepe, voluptatibus!
                Blanditiis.
            </div>

            <div class="comments">
                <div class="comment">
                    <small>This is a comment on the update</small>
                </div>

                <div class="comment">
                    <small>This is a comment on the update</small>
                </div>

                <div class="comment">
                    <small>This is a comment on the update</small>
                </div>
            </div>

            <div class="comment-form">
                <form action="">
                    <input type="text" class="form-control" placeholder="Add a comment...">
                </form>
            </div>
        </div>

        <div class="card post">
            <div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam amet cumque debitis ex facilis fugit
                harum impedit ipsam iure molestias necessitatibus nisi, nostrum odit pariatur placeat saepe, voluptatibus!
                Blanditiis.
            </div>

            <div class="comments">
                <div class="comment">
                    <small>This is a comment on the update</small>
                </div>

                <div class="comment">
                    <small>This is a comment on the update</small>
                </div>

                <div class="comment">
                    <small>This is a comment on the update</small>
                </div>
            </div>

            <div class="comment-form">
                <form action="">
                    <input type="text" class="form-control" placeholder="Add a comment...">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}