{% from 'macros.html' import render_field %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Teamtalk | Register</title>
</head>
<body>

</body>
</html>

{% extends 'layout.html' %}

{% block title %} Login {% endblock %}

{% block body %}
<div class="row">
    <div class="card col-md-6 offset-md-3">
        <div class="login-card">
            <h4>Register</h4>
            <form action="" method="POST" class="register-form">
                {{ form.hidden_tag() }}

                {% for field in form %}
                    {{ render_field(field) }}
                {% endfor %}
                <button class="btn btn-success" type="submit">Register</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}